<script defer="defer"  src="scripts/newslist.js"></script>
<div class="catContainer">
	<select id="category">
		<option value="all">Tag:all</option>
		<option value="AI">AI</option>		
		<option value="Amazon Web Service">Amazon Web Service</option>		
		<option value="Award">Award</option>		
		<option value="Bing">Bing</option>		
		<option value="Biohacking experience">Biohacking experience</option>		
		<option value="Braille">BinBrailleg</option>		
		<option value="cognitive advertising">Cognitive advertising</option>		
		<option value="Conference">Conference</option>		
		<option value="Exhibition">Exhibition</option>				
		<option value="Explorium">Explorium</option>		
		<option value="Expo">Expo</option>		
		<option value="Guest Speaker">Guest Speaker</option>		
		<option value="IBM">IBM</option>		
		<option value="Insight">Insight</option>		
		<option value="IoT">IoT</option>		
		<option value="Membership">Membership</option>		
		<option value="Mobile Payment">Mobile Payment</option>		
		<option value="News">News</option>		
		<option value="O2O">O2O</option>
		<option value="Partnership">Partnership</option>
		<option value="QR code">QR code</option>
		<option value="Retargeting">Retargeting</option>
		<option value="Search engine">Search engine</option>
		<option value="SEO">SEO</option>
		<option value="Smart City">Smart City</option>
		<option value="Smart Watch">Smart Watch</option>
		<option value="Social Media">Social Media</option>
		<option value="Sponsorship">Sponsorship</option>		
		<option value="Wearable">Wearable</option>		
		<option value="Unilever">Unilever</option>		
	</select>
</div>
<div class="resultContainer">
	<div class="resultSection">
		
		<div data-name="2016090100" class="result IoT Smart-City Insight ">
			<div class="title">Building a smarter City via IoT</div>
			<div class="description">
				The impact of IoT on our daily life is going to be tremendous as it helps to build a better city. What is the secret to unlock the potential of IoT?
			</div>
			<div class="tags">   
				Insight, IoT, Smart City
			</div>
			<div class="date">
				01.09.2016
			</div>
			<div class="moreBtn"></div>
		</div>
		
	</div>					
</div>