<script defer="defer"  src="scripts/newslist.js"></script>
<div class="catContainer">
	<select id="category">
		<option value="all">Tag:all</option>
		<option value="AI">AI</option>		
		<option value="Amazon Web Service">Amazon Web Service</option>		
		<option value="Award">Award</option>		
		<option value="Bing">Bing</option>		
		<option value="Biohacking experience">Biohacking experience</option>		
		<option value="Braille">BinBrailleg</option>		
		<option value="cognitive advertising">Cognitive advertising</option>		
		<option value="Conference">Conference</option>		
		<option value="Exhibition">Exhibition</option>				
		<option value="Explorium">Explorium</option>		
		<option value="Expo">Expo</option>		
		<option value="Guest Speaker">Guest Speaker</option>		
		<option value="IBM">IBM</option>		
		<option value="Insight">Insight</option>		
		<option value="IoT">IoT</option>		
		<option value="Membership">Membership</option>		
		<option value="Mobile Payment">Mobile Payment</option>		
		<option value="News">News</option>		
		<option value="O2O">O2O</option>
		<option value="Partnership">Partnership</option>
		<option value="QR code">QR code</option>
		<option value="Retargeting">Retargeting</option>
		<option value="Search engine">Search engine</option>
		<option value="SEO">SEO</option>
		<option value="Smart City">Smart City</option>
		<option value="Smart Watch">Smart Watch</option>
		<option value="Social Media">Social Media</option>
		<option value="Sponsorship">Sponsorship</option>		
		<option value="Wearable">Wearable</option>		
		<option value="Unilever">Unilever</option>		
	</select>
</div>
<div class="resultContainer">
	<div class="resultSection">
		<div data-name="2016090100" class="result IoT Smart-City Insight ">
			<div class="title">Building a smarter City via IoT</div>
			<div class="description">
				The impact of IoT on our daily life is going to be tremendous as it helps to build a better city. What is the secret to unlock the potential of IoT?
			</div>
			<div class="tags">   
				Insight, IoT, Smart City
			</div>
			<div class="date">
				01.09.2016
			</div>
			<div class="moreBtn"></div>
		</div>
		<div data-name="2016080400" class="result IoT Braille Smart-Watch Insight ">
			<div class="title">Smart watch comes in Braille</div>
			<div class="description">
				When you hear the term ‘Smart watch’, what do you think of? A Fitbit fitness tracker or an Apple watch? The latest smart watch has now come in Braille for visually impaired people.
			</div>
			<div class="tags">   
				IoT, Braille, Smart Watch, Insight 
			</div>
			<div class="date">
				04.08.2016
			</div>
			<div class="moreBtn"></div>
		</div>
		<div data-name="2016070400" class="result AI cognitive-advertising IBM Unilever">
			<div class="title">Campbell Soup tapped into mobile ads with AI</div>
			<div class="description">
				There are various ways to promote a brand, including social media, search engine, etc. Taking digital marketing further, some large brands including Unilever have started using Artificial Intelligence (AI) as interactive advertising tool to gather customer insights. 
			</div>
			<div class="tags">   
				AI, cognitive advertising, IBM, Unilever
			</div>
			<div class="date">
				04.07.2016
			</div>
			<div class="moreBtn"></div>
		</div>
		<div data-name="2016062300" class="result Insight IoT Mobile-Payment Biohacking-experience">
			<div class="title">The future of mobile payment? </div>
			<div class="description">
				No wallet and phone needed! Two men demonstrated that putting microchips in their bodies is the new way to pay. 
			</div>
			<div class="tags">   
				Insight, IoT, Mobile Payment, Biohacking experience
			</div>
			<div class="date">
				23.06.2016
			</div>
			<div class="moreBtn"></div>
		</div>
		<div data-name="2016061600" class="result News Exhibition Expo Sponsorship">
			<div class="title">Mtel supported Retail Asia Expo 2016</div>
			<div class="description">
				Our three-day exhibition at Retail Asia Expo ended on a high note.
			</div>
			<div class="tags">   
				News, Exhibition, Expo, Sponsorship
			</div>
			<div class="date">
				16.06.2016
			</div>
			<div class="moreBtn"></div>
		</div>
		<div data-name="2016060700" class="result Search-engine SEO QR-code Bing">
			<div class="title">Bing Search launches image search on phone</div>
			<div class="description">
				Facebook is predicting the end of the written word on its platform in five years’ time. Apparently, all world leading technological firms are eyeing on the potential growth of image market due to its wide dissemination. Bing Search is not an exception.
			</div>
			<div class="tags">   
				Search engine, SEO, QR code, Bing
			</div>
			<div class="date">
				07.06.2016
			</div>
			<div class="moreBtn"></div>
		</div>
		<div data-name="2016051900" class="result Insight IoT Wearable">
			<div class="title">A new wearable for female sport lovers</div>
			<div class="description">
				IoT comes in various forms now. Hongkongers have been getting into sports these days, and more and more women love sports. Here comes the good news!
			</div>
			<div class="tags">   
				Insight, IoT, Wearable
			</div>
			<div class="date">
				19.05.2016
			</div>
			<div class="moreBtn"></div>
		</div>
		<div data-name="2016050900" class="result News Conference">
			<div class="title">Mtel co-organizes Internet Ecosystem Week 2016</div>
			<div class="description">
				The Best Practice of eCommerce is back for 2016!
			</div>
			<div class="tags">   
				News, Conference
			</div>
			<div class="date">
				09.05.2016
			</div>
			<div class="moreBtn"></div>
		</div>
		<div data-name="2016042700" class="result News Sponsorship">
			<div class="title">Mtel supports Retail Marketing Hong Kong 2016</div>
			<div class="description">
				How exciting! We’ve joined the marketing’s signature industry leading event.
			</div>
			<div class="tags">
				News, Sponsorship                              
			</div>
			<div class="date">
				27.04.2016
			</div>
			<div class="moreBtn"></div>
		</div>
		<div data-name="2016042200" class="result News Award">
			<div class="title">Mtel wins 3 awards in MARKies Awards 2016</div>
			<div class="description">
				Our apps are well recognized and become the winner of Hong Kong’s premier creative awards.
			</div>
			<div class="tags">
				News, Award
			</div>
			<div class="date">
				22.04.2016
			</div>
			<div class="moreBtn"></div>
		</div>

		<div data-name="2016031100" class="result News Partnership">
			<div class="title">Mtel partners with A.S. Watson</div>
			<div class="description">
				A thriving partnership! Mtel has embarked on a long-term partnership with A.S. Watson. We will be their mobile solution partner in Asia.
			</div>
			<div class="tags">
				News, Partnership
			</div>
			<div class="date">
				11.03.2016
			</div>
			<div class="moreBtn"></div>
		</div>
		
		<div data-name="2016030400" class="result News Guest-Speaker Amazon-Web-Service">
			<div class="title">Boosting Marketing Campaign Effectiveness by Harnessing Seamless Internal Communication</div>
			<div class="description">
				Innovation in communication is not limited to external communication and marketing campaigns. Our CTO Jeff Chau has shared his insight at the AWS Digital Innovation Event.
			</div>
			<div class="tags">
				News, Guest Speaker, Amazon Web Service
			</div>
			<div class="date">
				04.03.2016
			</div>
			<div class="moreBtn"></div>
		</div>
		
		<div data-name="2016021900" class="result News Award">
			<div class="title">Mtel wins big in Mob-Ex Awards 2016</div>
			<div class="description">
				Hard work is paid off; a time to embrace excellence! We have grabbed 12 awards!
			</div>
			<div class="tags">
				News, Award
			</div>
			<div class="date">
				19.02.2016
			</div>
			<div class="moreBtn"></div>
		</div>

		<div data-name="2016012500" class="result Insight Retargeting">
			<div class="title">Personalization - The key to long term brand success</div>
			<div class="description">
				Have you ever wondered why you did not show any preferences, while advertisements at the side of the websites you visit keep showing the types of products and services you are interested in? How do they collect your likes and unlikes? It seems that marketers are seizing every single opportunity to reach their targeted customers. Credit to personalization. 
			</div>
			<div class="tags">
				Insight, Retargeting
			</div>
			<div class="date">
				25.01.2016
			</div>
			<div class="moreBtn"></div>
		</div>

		<div data-name="2016011400" class="result News Guest-Speaker Insight">
			<div class="title">SCMP Game Changers Event</div>
			<div class="description">
				How can big data be harnessed to deliver improved business performance, increase customer satisfaction and deliver competitive advantages? Hear what our CTO Jeff Chau says about the topic!
			</div>
			<div class="tags">
				News, Guest Speaker, Insight
			</div>
			<div class="date">
				14.01.2016
			</div>
			<div class="moreBtn"></div>
		</div>
		
		<div data-name="2015121600" class="result News Award">
			<div class="title">Citi Mobile Challenge APAC</div>
			<div class="description">
				How thriving! We have been awarded and commended by Citi as a Top Innovator in the Citi Mobile Challenge Asia Pacific! 
			</div>
			<div class="tags">
				News, Award                                                                          
			</div>
			<div class="date">
				16.12.2015
			</div>
			<div class="moreBtn"></div>
		</div>

		<div data-name="2015121300" class="result News Guest-Speaker">
			<div class="title">Yahoo! Developer Network Event</div>
			<div class="description">
				We were so excited to participate Yahoo! Yodel Meetup Event again!  Our CEO Willy shared about how we monetize with our apps.
			</div>
			<div class="tags">
				News, Guest Speaker
			</div>
			<div class="date">
				13.12.2015
			</div>
			<div class="moreBtn"></div>
		</div>
		<div data-name="2015120200" class="result Insight O2O">
			<div class="title">Google provides a new way to track foot traffic?</div>
			<div class="description">
				For those who hate lining up for restaurants and stores, here comes the good news.
			</div>
			<div class="tags">
				Insight, O2O
			</div>
			<div class="date">
				2.12.2015
			</div>
			<div class="moreBtn"></div>
		</div>
		<div data-name="2015112600" class="result News Guest-Speaker">
			<div class="title">Yahoo! Yodel Meetup Event</div>
			<div class="description">
				It's always great to meet and talk with the app developers! Our CTO Jeff Chau spoke at Yahoo! Yodel Meetup Event.
			</div>
			<div class="tags">
				News, Guest Speaker
			</div>
			<div class="date">
				26.11.2015
			</div>
			<div class="moreBtn"></div>
		</div>
		<div data-name="2015111400" class="result Insight News">
			<div class="title">Staying one step ahead of others is key to success</div>
			<div class="description">
				How market-fed is your app? Our CEO Willy shared his inspiration and experience on app development.
			</div>
			<div class="tags">
				Insight, Guest Speaker
			</div>
			<div class="date">
				14.11.2015
			</div>
			<div class="moreBtn"></div>
		</div>

		<div data-name="1416102015" class="result News Guest-Speaker">
			<div class="title">Mtel supports the Digital Inclusion Mobile Apps Scheme</div>
			<div class="description">
				Our CEO Willy Wong delivered the keynote speech today at the "When NGO bumps into an IT person" (NGO與IT人有個約會). It has been a great event to gather and share the market insights with NGOs.
			</div>
			<div class="tags">
				News, Guest Speaker
			</div>
			<div class="date">
				16.10.2015
			</div>
			<div class="moreBtn"></div>
		</div>

		<div data-name="1430092015" class="result News Explorium">
			<div class="title">Mobile-First. Connect. Inspire. -- Explorium launches in Shanghai successfully</div>
			<div class="description">
				Mtel is gratified to be one of the digital solution providers for Omni-channel.
			</div>
			<div class="tags">
				News, Explorium 
			</div>
			<div class="date">
				30.9.2015
			</div>
			<div class="moreBtn"></div>
		</div>		
		<div data-name="1418092015" class="result News">
			<div class="title">So crowded! 'Mtel being filled with youthful vigor'</div>
			<div class="description">
				Students from the School of Infocomm, Republic Polytechnic Singapore paid a visit to Mtel.
			</div>
			<div class="tags">
				News
			</div>
			<div class="date">
				18.9.2015
			</div>
			<div class="moreBtn"></div>
		</div>			
		<div data-name="1441015866" class="result News Sponsorship">
			<div class="title">Mtel’s sponsored Customer Loyalty Hong Kong Conference 2015 </div>
			<div class="description">
				It has been a wonderful event! Inspiration from Customer Loyalty Hong Kong Conference 2015.
			</div>
			<div class="tags">
				News, Sponsorship
			</div>
			<div class="date">
				16.9.2015
			</div>
			<div class="moreBtn"></div>
		</div>					
		<div data-name="1441015864" class="result News Partnership ">
			<div class="title">Mtel partners with VMWARE and becomes the reseller of AirWatch</div>
			<div class="description">
				We are excited to announce that Mtel has become the professional partner of VMware, as well as the official reseller of AirWatch. 
			</div>
			<div class="tags">
				News, Partnership
			</div>
			<div class="date">
				31.8.2015
			</div>
			<div class="moreBtn"></div>
		</div>
	
		<div data-name="1427342826" class="result News Membership ">
			<div class="title">Mtel joins the HK4As as a member</div>
			<div class="description">
				We are pleased to become an affiliated member of the Association of Accredited Advertising Agencies of Hong Kong (HK4As). 
			</div>
			<div class="tags">
				News, Membership
			</div>
			<div class="date">
				27.7.2015
			</div>
			<div class="moreBtn"></div>
		</div>
	
		<div data-name="1437001201" class="result Insight Social-Media O2O">
			<div class="title">When Emoji are turned into real food</div>
			<div class="description">
				There is always a question that why some people take ages to read a menu, while others can decide what to eat in seconds. Now the deliverer is there for those who are not used to speak to a delivery guy or find hard to decide what to eat — just tweet a food emoji and get real food delivered.
			</div>
			<div class="tags">
				Insight, Social Media, O2O
			</div>
			<div class="date">
				23.7.2015
			</div>
			<div class="moreBtn"></div>
		</div>
		
		<div data-name="1434004211" class="result Insight News">
			<div class="title">Mtel puts their tagline into practice in Retail Asia Expo 2015</div>
			<div class="description">
				Mobile first. Connect. Inspire. – Just as its tagline speaks, Mtel Limited turned their brand spirit into action in Hong Kong Convention and Exhibition Centre from 9th to 11th this June. Retail Asia Expo is an annual trade show and conference that caters to retailers in Asia Pacific. The expo showcases retail solutions from over 200 local and international exhibitors and plenty of networking opportunities including seminars, gala dinner, cocktail reception, and retail awards. 
			</div>
			<div class="tags">
				Insight, News
			</div>
			<div class="date">
				12.6.2015
			</div>
			<div class="moreBtn"></div>
		</div>
	</div>					
</div>