<div class="iconDiv">
		<a href="https://www.facebook.com/MTelLimited" target="_blank">			
			<div class="icon i1"></div></a>
		<a href="https://www.linkedin.com/company/mtel-limited" target="_blank">	
			<div class="icon i2"></div></a>
		<a href="https://www.youtube.com/channel/UCYQhfzcGZEcFdGgVk0wwcXQ" target="_blank">	
			<div class="icon i3"></div></a>
<a href="http://www.mtellab.com/" target="_blank">
	<div class="icon i4"></div></a>

	</div>
<div class="copyright"></div>